* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
 background: #fff;
  color: #181C29;
  width: 100%;
  overflow-x: hidden;
}

/* CONTAINER */
.container {
  max-width: 1440px; 
  width: 100%;
  margin: 0 auto;
}

/* ================= HEADER ================= */
.header {
  background: #fff;
  padding: 24px 0;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 20px;
  text-decoration: none;
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing:  5%;
  text-transform: uppercase;
}

.logo img {
  width: 24px;
  height: 24px;
}

.logo:hover {
  cursor: pointer;
}

nav ul {
  display: flex;
  gap: 8px;
  list-style: none;
  justify-content: flex-end;
  align-items: center;
  text-transform: uppercase;
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 130%;

}

nav a {
  text-decoration: none;
  color: black;
  padding: 12px 20px;
  border-radius: 20px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

nav a:hover {
  color: #ff4646;
  background-color: rgba(255, 70, 70, 0.1);
}

nav a.active,
.tabs a.active {
  pointer-events: none;
  cursor: default;
}

/* ================= HERO ================= */
.hero {
  background: #ff4646;
  color: white;
  text-align: center;
  padding: 120px 0;
  background-image: url('../image/background-hero.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 524px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero h1 {
  font-size: 32px;
  max-width: 600px;
  text-transform: uppercase;
  line-height:  150%;
  letter-spacing: 18%;
  max-width: 430px;
  margin: 12px auto;

}

.hero p {
  font-family: 'Allura', cursive;
  font-size: 24px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 5%;
}

/* BUTTON */
.btn {
  display: inline-block;
  margin: 12px 0;
  padding: 20px 32px;
  border-radius: 20px;
  background: #181C29;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 12px;
  line-height: 130%;
  letter-spacing: 5%;
  text-transform: uppercase;
  border: 1px solid #181C29;
  
}

.btn:hover {
  background: #fff;
  color: #181C29;
}

/* ================= ABOUT ================= */
.about {
    padding: 60px 0;
    background: #ff4646;
}

.about-container {
  display: flex;
  gap: 60px;
  align-items: center;
  background-color: #fff;
   border-radius: 20px;
   overflow: hidden;
  justify-content: space-between;
}

.about-container img {
  border-radius: 20px;
   width: 50%; 
   object-fit: cover;
}

.about-card {
 padding-left: 60px;
  max-width: 426px;
  width: 50%; 
}

.about h2 {
  font-size: 24px;
  font-weight: 600;
  line-height: 152%;
  letter-spacing: 16%;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.about-caption {
  font-family: 'Allura', cursive;
  font-size: 24px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 5%;
  margin-bottom: 20px;
}

.about p {
    font-size: 16px;
    font-weight: 400;
    line-height: 148%;
}
/* ================= SLIDER ================= */

.slider {
  background: #ff4646;
}

.lcld-container {
  text-align: center;
  padding: 60px 0;
  
}

.slider-caption {
  font-family: 'Allura', cursive;
  font-size: 24px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 5%;
  margin-bottom: 12px;
  color: #fff;
}

.slider h2 {
  font-size: 24px;
  font-weight: 600;
  line-height: 152%;
  letter-spacing: 16%;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #fff;
}

.lcld-card {
    display: flex;
    flex-direction: row;
}

.lcld-item {
display: flex;
align-items: center;
  text-align: center;
}

.slider span {
    font-size: 80px;
    font-weight: 600px;
    text-transform: uppercase;
    color: #fff;
    margin-right: 20px;

}

.lcld-item img {
  border-radius: 20px;
  margin-right: 20px;
}

.lcld-item:hover {
  transform: scale(1.1);
  cursor: pointer;

}

/* ================= GIFTS ================= */
.best {
  background: #ff4646;
}

.gifts-container {
  padding: 60px 0;
}

.best-caption {
  font-family: 'Allura', cursive;
  font-size: 24px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 5%;
  margin-bottom: 12px;  
  color: #fff;
  text-align: center;
}

.best h2 {
  font-size: 24px;
  font-weight: 600;
  line-height: 152%;
  letter-spacing: 16%;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #fff;
  text-align: center;
}

.gift-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
  align-items: stretch;
}

.gift-card {
  background: #ECF3F8;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.gift-card img {
  width: 100%;
  height: auto;
  display: block;
}

.gift-card:hover {
  transform: translateY(-5px);
  background: #ffecec;
  cursor: pointer;
}

.best-content {
  background-color: #fff;
  padding: 12px 20px;
  box-sizing: border-box;
  width: 100%;
  flex-grow: 1; 
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.best-work,
.best-harmony,
.best-health {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 5%;
    padding-bottom: 8px;
}

.best-work {
    color: #4361FF;
}

.best-health {
    color: #06A44F;
}

.best-harmony {
    color: #FF43F7;
}

.best h3 {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    line-height: 152%;
    letter-spacing: 8%;
    padding-bottom: 20px;    
}

/* ================= CTA ================= */
.subscribe {
  color: white;
  background: #ff4646;
  text-align: center;
  align-items: center;
  padding-bottom: 200px;
  padding-top: 120px;
  background-image: url("../image/background_subscribe.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.subscribe h2 {
  max-width: 430px;
  font-size: 24px;
  font-weight: 600;
  line-height: 152%;
  letter-spacing: 16%;
  text-transform: uppercase;
  margin: 0 auto 20px auto;
  color: #fff;
  text-align: center;
}

.subscribe .btn {
  margin-bottom: 20px;
}

.subscribe-caption {
  font-family: 'Allura', cursive;
  font-size: 24px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 5%;
  margin-bottom: 12px;  
  color: #fff;
  text-align: center;
}

.countdown-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 40px;
  padding: 20px 40px;
  width: fit-content;
  margin: 20px auto 0 auto;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

.countdown-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 80px;
}

.number {
  font-size: 32px;
  font-weight: 700;
  line-height: 1;
}

.label {
  font-size: 12px;
  text-transform: uppercase;
  margin-top: 8px;
  font-weight: 500;
  letter-spacing: 1px;
}

.divider {
  font-size: 28px;
  opacity: 0.5;
  margin: 0 10px;
  font-weight: 300;
}

/* ================= FOOTER ================= */
.footer {
  background: #fff;
  padding: 60px 0;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
  margin-bottom: 60px;
}

.footer-card {
  text-align: center;
  background: #ECF3F8;
  padding: 20px;
  border-radius: 20px;
}

.footer-card img {
  width: 80px;
  margin-bottom: 12px;
}

.footer-card a {
  text-decoration: none;
  color: black;
  display: block;
  margin: 10px 0;
}

.footer-card:hover {
  background: #ddd;
  cursor: pointer;
}

.footer h3 {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    line-height: 152%;
    letter-spacing: 8%;
}

.footer .card {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 600;
    line-height: 152%;
    letter-spacing: 16%;
    padding-bottom: 12px;  
}

/* ================= SOCIAL ================= */
.social-icons {
  display: flex;
  justify-content: center;
  gap: 20px; 
  padding: 11px 12px;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  transition: transform 0.2s ease-in-out;
}

.social-link img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.social-link:hover {
  transform: scale(1.1);
}

.footer-paragraph {
    font-size: 16px;
    font-weight: 400;
    line-height: 148%;
    text-transform: none;
    font-family: 'Montserrat', sans-serif;
}

.footer-link {
  font-family: 'Allura', cursive;
  font-size: 24px;
  font-weight: 400;
  line-height: 100%;
  letter-spacing: 5%;
  margin-top: 12px;  
  text-align: center;
  text-decoration: none;
  color: #181C29;;
}

.copyright {
    display: flex;
    flex-direction: column; 
    align-items: center;    
    gap: 8px;             
}

.gift-card,
.footer-card,
.social-link,
nav a {
  transition: all 0.3s ease;
}

/* ================= GIFTS PAGE ================= */


.best-title {
 display: none;
}

.hero.gifts-page {
  background-color: #ff4646; 
  background-image: url('../image/gifts-background.png');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  padding: 0;
  min-height: 450px;
  color: #fff;
}

.hero-content {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;  
  padding-top: 224px;
}

.hero-text h1 {
  text-align: left;             
  margin: 0;
  max-width: 430px;   
  font-size: 32px;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0.18em;
  text-transform: uppercase;           
}

.hero-tabs ul {
  display: flex;
  gap: 30px;                     
  list-style: none;
  margin: 0;
  padding: 0;
}

.hero-tabs a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  padding: 12px 20px;
  border-radius: 12px;
  transition: background-color 0.3s ease, color 0.3s ease;

}

.tabs a.active {
  background-color: rgba(255, 255, 255, 0.3);
  color: #fff;
  pointer-events: none;
}

.tabs a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
} 

.best-gifts-container {
  padding-bottom: 60px;
}

